
<!-- internal link -->
<a routerLink="home">Home</a>
&nbsp;
<a routerLink="about">About</a>
&nbsp;
<a routerLink="users">Users From Api</a>
&nbsp;
<a routerLink="user-info/ali/tan">Dinamik Link</a>
&nbsp;
<a href="https://www.google.com">Google</a>
<!-- external link  -->
<!-- external linkler href ile yönlendirilir fakat angular routing dosyasında tanımlı bir link ise routerLink directive kullanırız. -->

<!-- angular uygulamasındaki tüm yönlendirme mekanizması bu directive üzerinden yapılır -->
<router-outlet></router-outlet>
